<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nombre de Usuario</ion-label>
    <ion-input [(ngModel)]="username" type="text"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="resetPassword()">Recuperar</ion-button>
  <ion-text>
    <p>Introduce tu nombre de usuario para recibir instrucciones sobre cómo restablecer tu contraseña.</p>
  </ion-text>
</ion-content>
